h1{
  color: #ff4dff;
  text-align: center;
}
body{
  background-color: #99ccff;
  text-align: left;
}
ul { list-style-type: none; text-align: center;
}
p.intro {
  width: 50%;
  font-style: italic;
}
.important{
  color: #00ff00;
  background: #ff0000;
}
.unimportant{
  color: #ffad33;
  background-color:  #cc00cc;
}
.highlight{
  color: #008000;
}
